@font-face {
  font-family: "Quicksand";  
  src: url("./static/Quicksand-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
} 

@font-face {
  font-family: "Quicksand";  
  src: url("./static/Quicksand-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
} 

@font-face {
  font-family: "Quicksand"; 
  src: url("./static/Quicksand-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700; 
} 