@font-face {
  font-family: "Red_Hat_Display";  
  src: url("./static/RedHatDisplay-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
} 

@font-face {
  font-family: "Red_Hat_Display";  
  src: url("./static/RedHatDisplay-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
} 

@font-face {
  font-family: "Red_Hat_Display"; 
  src: url("./static/RedHatDisplay-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700; 
} 