@import url("./reset.css");
@import url("../fonts/Red_Hat_Display/Red_Hat_Display.css");
@import url("../fonts/Inter/Inter.css");
@import url("../fonts/Quicksand/Quicksand.css");

:root {
  --colorWhite: #fff;
  --colorBlack: #0C2146;
  --colorDarkGray: #5A5B6A;
  --colorLightGray: #EDEDF0;
  --colorBlue: #2264D1;
  --colorLightBlue: #9DC2FF;
  --colorLightLightBlue: #EBF2FF;
  --colorOrrange: #FB8200;
  --colorRed: #F44336;
  --colorSVGLightGray: #9696A0;

  --labelDarkGreen: #37833B;
  --labelLightGreen: #ECF7ED;
  --labelDarkRed: #C23564;
  --labelLightRed: #FDEDF2;
}

body {
  font-family: Inter;
  padding: 20px 16px;
}

button {
  font-family: Inter;
}

input {
  font-family: Inter;
}

button, a {
  cursor: pointer;
}

/* Header */
header {
  display: grid;
  grid-template-areas: 'logo search auth';
  justify-content: space-between;
  align-items: center;
}

header .logo-auth {
  display: flex;
  grid-area: logo;
  gap: 38px;
  font-family: Red_Hat_Display;
}

header .logo-auth h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 36px;
  font-weight: 500;
}

header .logo-auth h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, var(--colorLightBlue) 0%, var(--colorBlue) 100%);
  border-radius: 6px;
  font-size: 32px;
  color: var(--colorWhite);
  font-weight: 700;
}

header .logo-auth button {
  border: none;
  color: var(--colorDarkGray);
  background: none;
  font-size: 20px;
  padding: 0;
  font-weight: 500;
}

header .search{
  grid-area: search;
  display: flex;
  align-items: center;
  gap: 30px;
}

header .search .search-input {
  display: flex;
  width: 668px;
  padding: 8px;
  border-radius: 99px;
  background-color: var(--colorLightGray);
  justify-content: center;
  align-items: center;
}

header .search .search-input svg {
  width: 32px;
  height: 32px;
}

header .search .search-input svg[data-search-is-focus="false"] {
  display: none;
}

header .search .search-input input {
  border: none;
  background: none;
  flex-grow: 1;
  font-size: 20px;
}

header .search .search-input input:focus {
  outline: none;
}

header .search a {
  text-decoration: none;
  color: var(--colorBlue);
  font-size: 20px;
}

header .auth{
  grid-area: auth;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header .auth[data-is-auth="false"] img {
  display: none;
}

header .auth button {
  color: var(--colorBlue);
  border: 1px solid var(--colorLightBlue);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  background: none;
  padding: 8px 12px;
  font-family: Quicksand;
  position: relative;
}

header .auth button span{
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--colorRed);
  color: var(--colorWhite);
  font-size: 14px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Quicksand;
}

header .auth button:hover, header .auth button:focus {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}


header .auth img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

header .auth img:hover {
  box-shadow: 0px 0px 10px 2px var(--colorLightBlue);
}


/* Page */
.page {
  max-width: 1490px;
  display: grid;
  margin: auto;
  margin-top: 32px;
  grid-template-areas:
    'nav nav'
    'categories content'
    'filters content'
    'filters footer'
  ;
  grid-template-columns: max(305px) auto;
  column-gap: 75px;
  row-gap: 40px;
}

/* Navigation */
nav {
  grid-area: nav;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid
}

nav ul li a {
  display: grid;
  grid-template-areas: 
    'icon'
    'description';
  justify-items: center;
  gap: 5px;
  font-size: 14px;
  text-decoration: none;
  color: var(--colorDarkGray);
}

nav ul li a svg {
  grid-area: icon;
  width: 20px;
  height: 20px;
  fill: var(--colorDarkGray);
}

nav ul li a.active svg, nav ul li a:hover svg {
  fill: var(--colorLightBlue);
}

nav ul li a.active, nav ul li a:hover{
  color: var(--colorLightBlue);
}

nav ul li a p {
  grid-area: description;
}

/* Categories */
aside[aria-label="categories"] {
  grid-area: categories;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

aside[aria-label="categories"] .all-categories {
  width: 100%;
  min-height: 56px;
  display: grid;
  grid-template-columns: 32px auto;
  
  border: 1px solid var(--colorLightBlue);
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Quicksand';
  background: none;
  color: var(--colorBlue);
  align-items: center;
}

aside[aria-label="categories"] .all-categories svg {
  width: 32px;
  height: 32px;
  fill: var(--colorBlue);
}

aside[aria-label="categories"] ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

aside[aria-label="categories"] ul li .category {
  display: flex;
  gap: 5px;
  align-items: center;
}

aside[aria-label="categories"] ul li .category::before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../img/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
}

aside[aria-label="categories"] ul li .category[expanded]::before{
  background-image: url("../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
}

aside[aria-label="categories"] ul li .category:hover:not([no-items])::before {
  box-shadow: 0 2px 4px var(--colorLightBlue),0 4px 8px var(--colorBlue);
}

aside[aria-label="categories"] ul li .category[no-items]::before {
  background: none;
}

aside[aria-label="categories"] ul li p{
  font-size: 16px;
}

aside[aria-label="categories"] ul li span {
  display: block;
  font-size: 14px;
  color: var(--colorDarkGray);
  margin-top: 5px;
}

aside[aria-label="categories"] ul li > ul {
  padding-left: 15px;
  margin-top: 15px;
}

aside[aria-label="categories"] button {
  background-color: var(--colorLightLightBlue);
  color: var(--colorBlue);
  font-size: 14px;
  font-family: Quicksand;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  padding: 12px;
  margin-left: 40px;
}

aside[aria-label="categories"] button.show-more-items {
  display: flex;
  gap: 16px;
  align-items: center;
}

aside[aria-label="categories"] button.show-more-items::after {
  content: '';
  width: 28px;
  height: 12px;
  border-radius: 50%;
  background-image: url("../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
}

/* Filters */
aside[aria-label="filters"] {
  grid-area: filters;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

aside[aria-label="filters"] .filter-container {
  display: grid;
  grid-template-areas: 
    'name arrow'
    'filter filter';
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 8px;
}

aside[aria-label="filters"] .filter-container[collapsed]{
  box-shadow: 0px 1px 2px var(--colorLightGray), 0px 2px 4px var(--colorDarkGray);
}

aside[aria-label="filters"] .filter-container[expanded]{
  background: var(--colorLightGray);
}

aside[aria-label="filters"] .filter-container legend {
  grid-area: name;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

aside[aria-label="filters"] .filter-container[expanded] legend {
  font-weight: 500;
}

aside[aria-label="filters"] .filter-container::after {
  content: '';
  width: 28px;
  height: 12px;
  border-radius: 50%;
  background-size: 12px 12px;
  background-position: center center;
  grid-area: arrow;
}

aside[aria-label="filters"] .filter-container[collapsed]::after {
  background-image: url("../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
}

aside[aria-label="filters"] .filter-container[expanded]::after {
  background-image: url("../img/icons/arrow-up.svg");
  background-repeat: no-repeat;
}

aside[aria-label="filters"] .filter-container .items-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin-top: 24px;
}

aside[aria-label="filters"] .filter-container .items-container label{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

aside[aria-label="filters"] .filter-container .items-container label input {
  margin: 0;
  width: 18px;
  height: 18px;
}

/* Content */
main {
  grid-area: content;
  padding: 16px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  display: grid;
  gap: 32px;
}

main .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .filter-types {
  display: flex;
  gap: 16px;
}

main .filter-types .select {
  width: 152px;
}

main .displaying-type {
  display: flex;
  align-items: center;
  gap: 24px;
}

main .displaying-type .options-display, main .displaying-type .type-display{
  display: flex;
}

main .displaying-type button{
  font-size: 14px;
  color: var(--colorDarkGray);
  background-color: var(--colorLightBlue);
  border: none;
  height: 36px;
  margin: 0;
  padding: 0;
}

main .displaying-type button:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

main .displaying-type button:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

main .displaying-type button:hover, main .displaying-type button.active{
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
  background-color: var(---colorWhite);
  color: var(--colorLightBlue);
}

main .options-display button {
  width: 85px;
}

main .type-display button {
  width: 68px;
}

main .type-display button svg {
  width: 17px;
  height: 14px;
  fill: var(--colorDarkGray);
}

main .type-display button:hover svg, main .type-display button.active svg {
  fill: var(--colorLightBlue);
}

main .related {
  display: flex;
  gap: 8px;
  align-items: center;
}

main .related p {
  font-size: 14px;
  font-weight: 500;
}

main .related p:not(:first-child) {
  font-weight: 400;
  background: var(--colorLightGray);
  border-radius: 99px;
  padding: 6px 12px;
  color: var(--colorDarkGray);
}

.products {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 16px * 3) / 4));
  gap: 16px;
}

.products .product {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.products .product:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
border-radius: 8px;
}

.products .product p{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0275em;
}

.products .product img ~ p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 75px;
}

.products .product .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .product .price p{
  font-size: 24px;
  font-weight: 700;
}

.products .product .price p.label{
  font-size: 12px;
  padding: 4px 6px;
}

.products .product .price p.label[data-bg-color="green"] {
  color: var(--labelDarkGreen);
  background-color: var(--labelLightGreen);
}

.products .product .price p.label[data-bg-color="red"] {
  color: var(--labelDarkRed);
  background-color: var(--labelLightRed);
}

.products .product .review {
  height: 40px;
}

.products .product .reviews p{
  font-size: 14px;
  color: var(--colorDarkGray);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.products .product .rating {
  display: flex;
  justify-content: space-between;
}

.products .product .rating .stars {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.products .product .rating .star{
  width: 16px;
  height: 16px;
  background: url('../img/icons/full-star.svg');
  background-repeat: no-repeat;
}

.products .product .rating .star.half-star {
  background: url('../img/icons/half-star.svg');
  background-repeat: no-repeat;
}

.products .product .rating .star span {
  margin-left: 10px;
}

.products .product .rating button {
  border: 1px solid #9DC2FF;
  border-radius: 4px;
  background: none;
  font-size: 14px;
  height: 32px;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.products .product .rating svg {
  width: 14px;
  height: 14px;
}

/* Footer */
footer {
  grid-area: footer;
}

footer .cards-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

footer .cards-wrapper .card{
  background: var(--colorLightGray);
  border-radius: 8px;
  padding: 24px 26px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

footer .cards-wrapper .card h2 {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
}

footer .cards-wrapper .card p{
  font-size: 14px;
}

footer .cards-wrapper .card svg {
  width: 44px;
  height: 44px;
  margin-bottom: 10px;
}

/* Custom select */
.select {
  background: var(--colorWhite);
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 250px;
  height: 36px;
  padding: 6px 12px;
  align-items: center;
}

.select.with-title p{
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  top: -10px;
  background: #fff;
  height: 20px;
  width: 60px;
  text-transform: uppercase;
  left: 12px;
  display: flex;
  align-items: center;
}

.select .arrow {
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  cursor: pointer;
}

.select input {
  border: none;
  background: none;
  width: 100%;
  font-size: 14px;
  height: 100%;
  cursor: pointer;
}

.select input:focus {
  outline: none;
}

.select .options {
  position: absolute;
  top: 60px;
  width: 100%;
  background: var(--colorWhite);
  box-shadow: 0px 1px 2px rgb(58 58 68 / 24%), 0px 2px 4px rgb(90 91 106 / 24%);
  border-radius: 8px;
}

.select .options.hide {
  display: none;
}

.select .options ul {
  list-style: none;
}

.select .options ul li{
  display: grid;
  height: 36px;
  align-items: center;
  cursor: pointer;
  padding: 6px 12px;
}

.select .options ul li:hover{
  background-color: var(--colorLightGray);
}